@font-face {
	font-family: 'author';
	src: url('/fonts/Author-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'chillax';
	src: url('/fonts/Chillax-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'bespoke';
	src: url('/fonts/BespokeSerif-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'excon';
	src: url('/fonts/Excon-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ranade';
	src: url('/fonts/Ranade-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'satoshi';
	src: url('/fonts/Satoshi-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'telma';
	src: url('/fonts/Telma-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
